/*Меню*/
.dropbtn {
    background-color: #658585;
    color: rgb(179, 221, 201);
    padding: 1px;
    font-size: 20px;
    letter-spacing: 1.7px;
    min-width: 130px;
    height: 40px;
    margin-top: 7px;
    margin-right: 14px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 30px -0.3px rgba(0,0,0,0.2);
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #568585;
  }
  
  .dropdown {
    position: relative;
    display: block;
    float: right;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #678788;
    min-width: 120px;
    margin-left: 5px;
    box-shadow: 0px 6px 17px -0.1px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(212, 255, 235);
    padding: 12px 15px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #5d7b7c}

  .show {display:block;}

  /* Таблицы */
  table {
    border: 1px solid rgb(46, 46, 46);
    background-color: #617969;
    min-width: 50vw;
    height: 40vh;
    margin: auto;
    text-align: center;
 }
 /* границы ячеек первого ряда таблицы */
 th {
    border: 1px solid rgb(46, 46, 46);
    font-size: 2.2vh;
 }
 /* границы ячеек тела таблицы */
 td {
    border: 1px solid rgb(46, 46, 46);
    width: 100vh;
 }
 .table1 {
  margin-top: 2vw;
  margin-bottom: 5vw;
  margin-left: 4vw;
  margin-right: 4vw;
 }

  /*Общее*/
* {
    margin: 0%;
    padding: 0%;
    font-family:Verdana,Tahoma, sans-serif;
}

body {
  background-color: #84978e;
  color: #222;
}

#Главная {
    margin-left: 12vw;
    padding-top: 3%;
    text-align: center;
    font-size: 3.4vh;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
  }
  
  p {
    margin-left: 3vh;
    font-size: 24px;
  }
  
  .экстра {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 3vh;
    text-align: center;
  }
  
  .hr1 {
    color: #a8a8a8;
    background-color: #5f5e5e; 
    border:0px none;
    height:1.2px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .сайт {
    text-align: center;
    margin-right: 6.5vh;
    font-size: 2.3vh;
    margin-bottom: 20px;
  }

  .gif1 {
    border-radius: 1vh;
    border: 2px solid #37423d;
    border-right: 9px solid #37423d;
    border-bottom: 9px solid #37423d;
    border-top: 9px solid #536b60;
    border-left: 9px solid #536b60;
  }

  .block2 {
    border-radius: 1vh;
    border: 2px solid #37423d;
    border-right: 9px solid #37423d;
    border-bottom: 9px solid #37423d;
    border-top: 9px solid #536b60;
    border-left: 9px solid #536b60;
    background-color: #708577;
  }

  .footer {
    background-color: #607466;
    font-size:20px;
    height:6vh;
    padding-top:1vh;
    width:100%;
    text-align:center;
    line-height:4vh;
    word-spacing:2px;
  }

  .foot {
    word-spacing: 0.5vw;
    font-size:15px;
  }

  .all-blocks {
    padding-bottom : 50px;
  }

  .moti-sil:visited, .moti-sil:link {
    color: #165b77;
  }

  .moti-sil:hover {
    color: #184658;
  }

  .motiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9vh;
    width: 45%;
  }

  .moti {
    background-image: url(mot.jpg);
    background-size: 19vh;
  }

  .mot-text {
    color: royalblue;
    font-size: 45px;
    text-shadow: 
		-0   -3px 1px #000000,
		 0   -3px 1px #000000,
		-0    3px 1px #000000,
		 0    3px 1px #000000,
		-3px -0   1px #000000,
		 3px -0   1px #000000,
		-3px  0   1px #000000,
		 3px  0   1px #000000,
		-1px -3px 1px #000000,
		 1px -3px 1px #000000,
		-1px  3px 1px #000000,
		 1px  3px 1px #000000,
		-3px -1px 1px #000000,
		 3px -1px 1px #000000,
		-3px  1px 1px #000000,
		 3px  1px 1px #000000,
		-2px -3px 1px #000000,
		 2px -3px 1px #000000,
		-2px  3px 1px #000000,
		 2px  3px 1px #000000,
		-3px -2px 1px #000000,
		 3px -2px 1px #000000,
		-3px  2px 1px #000000,
		 3px  2px 1px #000000,
		-3px -3px 1px #000000,
		 3px -3px 1px #000000,
		-3px  3px 1px #000000,
		 3px  3px 1px #000000,
		-3px -3px 1px #000000,
		 3px -3px 1px #000000,
		-3px  3px 1px #000000,
		 3px  3px 1px #000000;
    display: block;
    padding-top: 22vh;
    text-align: center;
  }

  .mot-text a {
    color: royalblue;
  }
  .mot-text a:visited {
    color: royalblue;
  }

  .oshibka {
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    line-height: 8vh;
  }

  .sadness {
    font-size: 5vh;
  }

  .uwu-a {
    text-align: left;
    font-size: 1.7vh;
    margin-left: 1vh;
  }
  .uwu-z {
    text-align: left;
    font-size: 1.7vh;
    margin-left: 1vh;
    color: blue;
  }
  .uwu-z2 {
    text-align: left;
    font-size: 1.7vh;
    margin-left: 1vh;
    margin-top: 150%;
    color: red;
  }
  .uwu-z3 {
    text-align: left;
    font-size: 1.7vh;
    margin-left: 1vh;
    margin-top: 150%;
    color: yellow;
  }
  .uwu-z4 {
    text-align: left;
    font-size: 1.7vh;
    margin-left: 1vh;
    margin-top: 150%;
    color: green
  }
  .uwu-z, .uwu-z2, .uwu-z3, .uwu-z4 {
    font-size:xx-large;
  }

.ti-chego {
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 10vh;
  margin-top: 6vh;
}
.uwu2 {
  width: 40vw;
  float: right;
  position: absolute;
  margin-left: 55vw;
  z-index: 1;
}

.uwu1 {
  width: 40vw;
  float: left;
  margin-left: 20px;
  position: absolute;
  z-index: 1;
}
.uwu3 {
  width: 40vw;
  float: left;
  margin-left: 20px;
  position: absolute;
  margin-top: 26vw;
  z-index: 0;
}
.uwu4 {
  width: 40vw;
  float: right;
  position:absolute;
  margin-left: 55vw;
  margin-top: 50vw;
  z-index: 0;
}
.uwu5 {
  width: 40vw;
  float: left;
  margin-left: 5vw;
  margin-top: 68vw;
}
.uwu-past {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 100px;
  margin-top: 100vw;
  text-align: center;
  font-size:0.5cm;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  word-spacing: 1vh;
}
.neko-im {
  width: 20ch;
  margin-top: 3vh;
}

.ya-kringemr {
  font-size:0.8cm;
}

.voina {
  margin-top: 30vh;
  padding-top: 30vh;
  background-color: #141313;
  color: white;
  padding-bottom: 20px;
}
.voina-im {
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 10vh;
  width: 55vh;
  min-width: 25vw;
  max-width: 60vw;
  height: 45vw;
}
.vint {
  text-align: right;
  margin-top: 20px;
  font-size: 5vw;
  padding-right: 25px;
}
.ochn {
  text-align: left;
  font-size: 5vw;
}
.war-exit {
  font-size: 5vw;
  text-align: center;
  margin-top: 3vh;
}
.war-exit a:visited {
  color: aqua;
}

.extra1 {
  border-radius: 1vh;
  border: 2px solid #37423d;
  border-right: 9px solid #37423d;
  border-bottom: 9px solid #37423d;
  border-top: 9px solid #536b60;
  border-left: 9px solid #536b60;
  background-color: #708577;
  padding-left: 9px;
  padding-top: 8px;
  padding-right: 7px;
  padding-bottom: 5px;
}
.extra1z {
  text-align: center;
  display: block;
  font-size: x-large;
  padding-top: 12px;
}
.extra1x {
  text-align: center;
  display: block;
  font-size: 30px;
  padding-top: 12px;
}
.exit-button {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  text-decoration:none;
}
.exit-button:visited {
  color: #152c2c;
}
.exit-button-c {
  border-radius: 1.3vh;
  border: 2px solid #37423d;
  border-right: 3px solid #37423d;
  border-bottom: 3px solid #37423d;
  border-top: 3px solid #536b60;
  border-left: 3px solid #536b60;
  background-color: #708577;
  max-width: 9.5vh;
  position: absolute; right:10vh
}
.obnova-txt {
  margin-top: 3vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

  @media screen and (max-width: 720px) {
    #Главная {
      margin-left: 0.3vh;
      padding-top: 3%;
      text-align: center;
      font-size: 3.4vh;
      font-weight: 600;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      width: 80%;
    }
    .gif1 {
      max-width: 75vw;
      max-height: 75vh;
      margin-left: 14vw;
      margin-top: 5vw;
    }
    .footer {
      min-height: 10vh;
      font-size: 2vh;
      line-height: 7mm;
    }
    .block2 {
      font-size: 2.3vh;
      text-align: center;
      max-width: 70vw;
      margin-left: 11.5vw;
      margin-top: 6vh;
      padding-left: 9px;
      padding-top: 8px;
      padding-right: 7px;
      padding-bottom: 5px;
    }
    .extra1 {
      margin-left: 4vw;
      margin-top: 7vh;
      margin-right: 5vw;
      margin-bottom: 5vh;
      min-height: 70vh;
     }
    .motiv {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 9vh;
      width: 85%;
    }
    .uwu-main {
      font-size: 25px;
  }
  .extra1z {
    text-align: center;
    display: block;
    font-size: large;
    padding-top: 12px;
  }
  .extra1x {
    text-align: center;
    display: block;
    font-size: large;
    padding-top: 15px;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .table1 {
    margin-top: 1.5vh;
   }
   .voina {
    margin-top: 30vh;
    padding-top: 15vh;
    background-color: #141313;
    color: white;
    padding-bottom: 20px;
  }
  .voina-im {
    text-align: center;
    display: block;
    margin: 0 auto;
    line-height: 10vh;
    width: 7cm;
    min-width: 25vw;
    max-width: 60vw;
    height: 45vw;
  }
  .vint {
    text-align: right;
    margin-top: 20px;
    font-size: 8vw;
    padding-right: 25px;
  }
  .ochn {
    text-align: left;
    font-size: 8vw;
    margin-top: 25px;
  }
  .obnova-txt {
    font-size: 20px;
  }
}

  @media screen and (min-width: 721px) {
    .gif1 {
      max-width: 40vw;
      max-height: 40vh;
      margin-left: 5vw;
      margin-top: 5vh;
      float: left;
    }
    .dropdown {
      margin-right: 2vh;
    }
    .block2 {
      font-size: 2.5vh;
      float: left;
      width: 43%;
      min-height: 33vh;
      max-height: 40vh;
      max-width: 40vw;
      margin-left: 5vw;
      margin-top: 5vh;
      padding-left: 9px;
      padding-top: 8px;
      padding-right: 7px;
      padding-bottom: 5px;
    }
    .extra1 {
     margin-left: 4vw;
     margin-top: 7vh;
     margin-right: 5vw;
     margin-bottom: 5vh;
     min-height: 70vh;
    }
    .footer {
      margin-top: 60vh;
      min-height:8vh;
    }
    #Главная {
      font-size: 5vh;
    }
    .uwu-main {
      font-size: 2px;
      font-size: 56px;
      margin-bottom: 3vh;
    }
    .extra1x {
      margin-left: 10px;
      margin-right: 10px;
    }
    .uwu-past {
      font-size:0.8cm;
    }
    
    .ya-kringemr {
      font-size:1cm;
    }
    .voina-im {
      text-align: center;
      display: block;
      margin: 0 auto;
      line-height: 10vh;
      width: 10cm;
      height: 10cm;
    }
    .vint {
      text-align: right;
      margin-top: 4vw;
      font-size: 4vw;
      padding-right: 25px;
    }
    .ochn {
      text-align: left;
      font-size: 4vw;
      margin-top: 10vh;
    }
    .war-exit {
      font-size: 3vw;
      margin-top: 3vw;
    }
}